In [4]:
import pandas as pd
import sqlite3
from textblob import TextBlob

conn = sqlite3.connect("data/database.sqlite 2")
df = pd.read_sql_query("select * from reviews;", conn)
df_years = pd.read_sql_query("select * from years;", conn)
df_genres = pd.read_sql_query("select * from genres", conn)
df_reviews = pd.read_sql_query("select * from content", conn)

In [26]:
df_reviews.head()

   reviewid                                            content
0     22703  “Trip-hop” eventually became a ’90s punchline,...
1     22721  Eight years, five albums, and two EPs in, the ...
2     22659  Minneapolis’ Uranium Club seem to revel in bei...
3     22661  Kleenex began with a crash. It transpired one ...
4     22725  It is impossible to consider a given release b...

In [40]:
sentiments = []
for each in range(len(df['reviewid'])):
    sentiments.append(TextBlob(df_reviews['content'][each]).sentiment[1])

In [42]:
min(sentiments)

0.0

In [25]:
testimonial = TextBlob(df_reviews['content'][1000])
sent = testimonial.sentiment

In [22]:
TextBlob(df_reviews['content'][1000]).sentiment

Sentiment(polarity=0.14763095238095236, subjectivity=0.5278095238095237)

In [24]:
df_reviews['subjectivity'] = TextBlob(df_reviews['content']).sentiment[1]

TypeError: The `text` argument passed to `__init__(text)` must be a string, not <class 'pandas.core.series.Series'>